In [5]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
display(HTML("<style>.input_area pre {font-family: Consolas; font-size: 16pt; line-height: 140%;}</style>"))
display(HTML("<style>.output_area pre {font-family: Consolas; font-size: 16pt; line-height: 140%;}</style>"))

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

# font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
# plt.rc('font', family=font_name)
# plt.rcParams['axes.unicode_minus'] = False

In [3]:
TTS_df=pd.read_table('result/TTscore/TTS_both.txt', sep='\t',index_col=0)
TTS_df.head()
df1=TTS_df.loc[(TTS_df['TTS']*TTS_df['TTS.1']<0)&(np.abs(TTS_df['TTS']-TTS_df['TTS.1'])>7)]
df1=df1.sort_values(by='TTS')

df1=df1.drop(['RUVBL1','YEATS4'])
df1=df1.drop(['p_val','negLog10_FDR','p_val.1','negLog10_FDR.1'],axis=1)
df1
df1.to_csv('result/Disc/conflicting_TTs.txt', sep='\t')

,TFAs Ave.(E),TFAs Ave.(NE),TTS,p_val,FDR_A375,negLog10_FDR,TFAs Ave.(E).1,TFAs Ave.(NE).1,TTS.1,p_val.1,FDR_HT29,negLog10_FDR.1
AATF,-0.189,0.057,-2.050,4.171000e-02,6.723000e-02,1.172,-1.089,-0.174,-5.347,6.525000e-07,4.133000e-06,5.384
ABL1,0.315,0.121,4.972,1.279000e-06,6.366000e-06,5.196,-0.001,-0.034,0.925,3.566000e-01,4.375000e-01,0.359
AES,0.554,0.118,4.331,2.009000e-05,7.323000e-05,4.135,0.066,-0.067,1.119,2.649000e-01,3.397000e-01,0.469
AHR,-0.379,-0.008,-5.944,1.116000e-08,8.138000e-08,7.089,-0.358,0.070,-5.710,8.902000e-08,7.156000e-07,6.145
AIP,-0.108,-0.148,0.631,5.282000e-01,5.904000e-01,0.229,-0.053,0.077,-1.725,8.686000e-02,1.332000e-01,0.876

,TFAs Ave.(E),TFAs Ave.(NE),TTS,FDR_A375,TFAs Ave.(E).1,TFAs Ave.(NE).1,TTS.1,FDR_HT29
ATF5,-0.275,0.008,-5.198,0.000002,0.261,0.108,2.360,0.035940
PAX2,-0.450,-0.009,-3.491,0.001586,0.667,0.028,4.559,0.000065
TLX1,0.436,0.163,2.505,0.024830,-1.048,-0.235,-5.157,0.000009
NF1,0.409,0.160,3.182,0.004035,-0.469,0.018,-4.860,0.000023
ZNF148,0.219,-0.029,4.240,0.000117,-0.594,-0.154,-4.768,0.000028